<article>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-main">
                <span class="sr-only">navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
                <a class="navbar-brand" href="#"><img src="../images/W3Schools_logo1.png" style="width:60%;"></a>
            </div>

            <div class="collapse navbar-collapse" id="navbar-collapse-main">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#!home" class="active"> Home</a></li>
                    <li><a href="#about_us"> About Us</a> </li>
                    <li><a href="#contact">Contact</a></li>
                    <li><a href="#feedback">Feedback</a></li>
                    <li><a href="#fag"> F&A</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"></span> Account <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="" data-toggle="modal" data-target="#myModal">Log In</a></li>
                            <li><a href="">Forgot Password</a></li>
                            <li><a href="sign_up.html">Sign Up</a></li>
                            <li class="divider"></li>
                            <li><a href="">Log Out</a></li>
                            <li><a href="Update.html#DoiMK">Change Password</a></li>
                            <li><a href="Update.html#DoiTK">Update Profile</a></li>

                        </ul>
                    </li>
                    <li><a href="sheet.html"> Sheet</a></li>
                </ul>
            </div>
        </div>

    </nav>
    <!---------------------------Modal ----------------------------------------->

    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title title1"><span style="color:orange">Log In</span></h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" name="myForm" ng-controller="validateCtrl" novalidate>
                        <fieldset>
                            <!-- Text input-->
                            <div class="form-group" ng-class="{'has-error': loginForm.email.$invalid && loginForm.email.$touched}">
                                <!-- <label class="col-md-3 control-label" for="email"></label> -->
                                <div class="col-md-6">
                                    <input name="email" ng-model="email" placeholder="Enter your email-id" class="form-control input-md " type="email" required />
                                    <small ng-show="myForm.email.$dirty && myForm.email.$invalid"></small>
                                    <small class="help-block" ng-show="myForm.email.$error.required">Please enter an
                                    Email Address</small>
                                    <small ng-show="myForm.email.$error.email">Invalid email address.</small>
                                </div>
                            </div>
                            <!-- Password input-->
                            <div class="form-group">
                                <!-- <label class="col-md-3 control-label" for="password"></label> -->
                                <div class="col-md-6">
                                    <input name="password" ng-model="password" placeholder="Enter your Password" class="form-control input-md " type="password" required />
                                    <small ng-show="myForm.password.$dirty && myForm.password.$invalid"></small>
                                    <small class="help-block" ng-show="myForm.password.$invalid && myForm.password.$touched">Password
                                    required</small>

                                </div>
                            </div>
                        </fieldset>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary" ng-disabled="myForm.email.$dirty && myForm.email.$invalid || 
                        myForm.password.$dirty && myForm.password.$invalid" ng-click="showResult()">Log in</button>
                        </div>

                    </form>
                </div>


            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal-fade -->
</article>